* {
    padding: 0;
    margin: 4px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

button {
    background-color: transparent;
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
}